<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDspge_8y9U76sLD5Xk5FUQ6PYKy3H-iEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>611984250170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartinder</string>
	<key>PROJECT_ID</key>
	<string>bartinder-3e6ba</string>
	<key>STORAGE_BUCKET</key>
	<string>bartinder-3e6ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611984250170:ios:7cd4e1709cb7fd94a1ec03</string>
</dict>
</plist>